<div ng-repeat='metadataField in projectInfoController.metadataAuthoring.fields'>
    <span style="font-weight:bold">{{ metadataField.name }}: </span>
    <textarea ng-if='metadataField.type == "textarea"' rows='3', cols='100' ng-model='projectInfoController.metadata[metadataField.key]' ng-model-options='{ debounce: 1000 }' ng-change='projectInfoController.save()' />
    <input ng-if='metadataField.type == "input"' size='50' ng-model='projectInfoController.metadata[metadataField.key]' ng-model-options='{ debounce: 1000 }' ng-change='projectInfoController.save()' />
    <div ng-if='metadataField.type == "radio"' ng-repeat='choice in metadataField.choices'>
        <input type="radio"
                class="md-primary"
                ng-value='choice'
                ng-checked='projectInfoController.metadataChoiceIsChecked(metadataField, choice)'
                ng-click='projectInfoController.metadataRadioClicked(metadataField, choice)' /> {{ projectInfoController.getMetadataChoiceText(choice) }}
    </div>

    <div ng-if='metadataField.type == "checkbox"' ng-repeat='choice in metadataField.choices'>
        <label>
            <input type='checkbox' ng-model='metadataField.choicesMapping[choice]' ng-click='projectInfoController.metadataCheckboxClicked(metadataField, choice)' /> {{ projectInfoController.getMetadataChoiceText(choice) }}
        </label>
    </div>
    <br/>
</div>
<div class="visibility-section">
    <label><span style="font-weight: bold;">公開狀態:</span></label>
    <div style="display: flex ;">
    <div class="toggle-button" style="display: flex;" role="group">
        <button type="button" style="justify-content: center; margin-right: 1rem;" class="btn btn-default" ng-class="{'btn-success': projectInfoController.message === '公開', 'btn-danger': projectInfoController.message !== '公開'}" ng-click="projectInfoController.changeWorkgroupPublicState()">
             {{projectInfoController.message === "公開" ? "ON" : "OFF"}}
        </button>
    </div>
    <p class="status-text" style="align-self: center;">目前狀態: <strong>{{projectInfoController.message}}</strong></p>
    </div>
</div>
<div style="margin-top: 3rem;" class="btn btn-default">
    <a class="vertical-center" ng-href="/teacher/run/createRun.html?projectId={{projectInfoController.ConfigService.config.projectId}}">
        實施課程
        <span style="vertical-align: text-top;" class="glyphicon glyphicon-arrow-right vertical-center" aria-hidden="true"></span>
    </a>
</div>
